@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px;}

.nav{ background:url(../images/aa_04.jpg);width:100%; height:76px;} 

#nav-a{width:990px;margin:0px auto;height:46px;line-height:40px;display:block;overflow:hidden;}

#navMenu .nav-w{float:left;font-size:14px; list-style:none;}

.nav-efr{text-decoration:none; width:90px; height:46px;line-height:46px;text-align:center;display:block; color:#000;}

.nav-efr:hover{background:url(../images/s_06.jpg); color:#fff;}

.dropMenu{position:absolute;top:0;z-index:100;visibility:hidden;margin-top:-2px;border-top:0;padding:4px;width:260px; margin-left:-40px;}

.dropMenu .nav-sd{float:left;font-size: 20px; list-style:none;}

.dropMenu .nav-sd .nav-po{display:block;padding:4px 0 5px 12px;color: #F0F0F0; text-decoration:none;}